/* ========================================================================== */
/* BASE
/* This file contains very basic styles.
/* ========================================================================== */

blockquote,
code,
dd,
figure,
form,
iframe,
img,
ol,
p,
pre,
ul {
  margin-bottom: $font-size-copy;
  
  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to('small') {
    margin-bottom: #{$font-size-copy * $scale-large};

    &:last-child {
      margin-bottom: 0;
    }
  }
}

blockquote {
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '”';
    font-size: 6em;
    right: -.1em;
    line-height: 1;
    opacity: .1;
    position: absolute;
    top: -.1em;
    z-index: -1;
  }

  footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: $font-family-interaction;
    font-weight: $font-weight-title;
    justify-content: flex-start;
    line-height: 1;

    &::before {
      content: '— ';
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      small {
        display: inline-block;
        font-weight: $font-weight-copy;
        line-height: $font-height-copy;
      }

      .title-small {
        margin-bottom: 0;
      }
    }

    figure {
      border-radius: 999px;
      height: #{$font-size-copy * 5};
      margin-right: 1em;
      overflow: hidden;
      width: #{$font-size-copy * 5};
      
      @include respond-to('small') {
        height: #{$font-size-copy * $scale-large * 5};
        width: #{$font-size-copy * $scale-large * 5};
      }
    }
  }

  p {
    color: lighten($color-foreground-1, 60%);
    font-style: italic;
    font-size: #{$font-size-copy * $scale-large};
    line-height: $scale-x-large;
    margin-bottom: #{$font-size-copy * $scale-small};

    @include respond-to('small') {
      font-size: #{$font-size-copy * $scale-large * $scale-large};
      margin-bottom: #{$font-size-copy};
    }
  }
}

body, html {
  height: 100%;
}

body {
  background-color: $color-background-1;
  color: $color-foreground-2;
  padding-top: #{$space-medium + $space-small};

  &.no-scrolling {
    height: 100%; 
    overflow: hidden
  }
}

hr {
  border-bottom: 0;
  border-top: $width-x-small dashed $color-foreground-4;
  margin: 1em 0;
}

html {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------- */
/* Forms
/* -------------------------------------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  @include button-shape;

  background-color: $color-background-2;

  &:active,
  &:hover {
    background-color: $color-brand-primary;
    color: $color-foreground-max;
  }
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  background-color: $color-background-1;
  border: 0;
  border-radius: $radius-medium;
  font-family: $font-family-interaction;
  font-size: $font-size-copy;
  line-height: $font-height-copy;
  width: 100%;
  
  @include respond-to("small") {
    font-size: #{$font-size-copy * $scale-large};
    line-height: #{$font-height-copy  * $scale-large};
  }
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  padding: .21em 1.2em;
}

label {
  font-weight: $font-weight-title;
}

/* -------------------------------------------------------------------------- */
/* Links
/* -------------------------------------------------------------------------- */
a {
  border-bottom: $width-small solid $color-foreground-4;
  color: inherit;
  transition-duration: $speed-fast;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active,
  &:hover {
    border-color: $color-brand-primary;
    color: $color-foreground-max;
  }
}

b, 
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

mark {
  background-color: $color-background-2;
  transition-duration: $speed-fast;
  
  &:hover {
    background-color: $color-brand-primary;
    color: $color-foreground-max;
  }
}



/* -------------------------------------------------------------------------- */
/* Titles
/* -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.post__title,
.title-x-large,
.title-large,
.title-medium,
.title-small,
.title-x-small {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.post__title,
.title-x-large,
.title-large,
.title-medium,
.title-small,
.title-x-small { 
  a {
    border: 0;
  }
}

/* -------------------------------------------------------------------------- */
/* Lists
/* -------------------------------------------------------------------------- */
dl {
  dd {
    margin-bottom: $font-size-copy;
    
    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to('small') {
      margin-bottom: #{$font-size-copy * $scale-large};

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  dt {
    font-weight: $font-weight-title;
  }
}
ol,
ul {
  padding-left: 1.2em;
}

/* -------------------------------------------------------------------------- */
/* Tables
/* -------------------------------------------------------------------------- */
table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border: $width-x-small solid $color-background-4;
    padding: $space-x-small;
  }
  
  thead,
  tfoot {
    background: $color-background-2;
    font-family: $font-family-interaction;
    font-weight: $font-weight-title;
  }
}