/* ========================================================================== */
/* BASE
/* This file contains very basic styles.
/* ========================================================================== */

body {
  background-color: $color-background-1;
  color: $color-foreground-2;
  padding-top: calc(#{$space-medium} + #{$space-small});
}
hr {
  border-top: $width-x-small dashed $color-background-3;
  margin: 1em 0;
}
html {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------- */
/* Forms
/* -------------------------------------------------------------------------- */
input[type=text] {
  background-color: $color-background-1;
  border: 0;
  border-radius: 100px;
  font-family: $font-family-interaction;
  font-size: $font-size-copy;
  line-height: $font-size-copy;
  padding: .3em 1.2em;

  @include respond-to("small") {
    font-size: calc(#{$font-size-copy} * #{$scale-large});
    line-height: calc(#{$font-height-copy}  * #{$scale-large});
  }
}

/* -------------------------------------------------------------------------- */
/* Links
/* -------------------------------------------------------------------------- */
a {
  border-bottom: $width-small solid $color-background-3;
  color: inherit;
  transition-duration: $speed-fast;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    border-color: $color-brand-primary;
    color: $color-foreground-max;
  }

  @include respond-to('medium') {
    &:hover {
      border-color: $color-brand-primary;
      color: $color-foreground-max;
    }
  }
}

b, 
strong {
  background-color: $color-background-2;
  transition-duration: $speed-fast;
  
  &:hover {
    background-color: $color-brand-primary;
    color: $color-foreground-max;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.post__title a,
.title-x-large a,
.title-large a,
.title-medium a,
.title-small a,
.title-x-small a { 
  border: 0;
}

/* -------------------------------------------------------------------------- */
/* Lists
/* -------------------------------------------------------------------------- */
ol,
ul {
  padding-left: 1.2em;
}