/* ========================================================================== */
/* FONTS
/* This file contains all @font-face declarations, if any.
/* ========================================================================== */

@font-face {
  font-family: "zenwriter";
  src:url("assets/fonts/zenwriter-icons.eot");
  src:url("assets/fonts/zenwriter-icons.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/zenwriter-icons.woff") format("woff"),
    url("assets/fonts/zenwriter-icons.ttf") format("truetype"),
    url("assets/fonts/zenwriter-icons.svg#zenwriter") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  bottom: -.15em;
  content: attr(data-icon);
  font-family: "zenwriter" !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  position: relative;
  speak: none;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  bottom: -.15em;
  font-family: "zenwriter" !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  position: relative;
  speak: none;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\61";
}
.icon-right:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\67";
}
.icon-instagram:before {
  content: "\68";
}
.icon-link:before {
  content: "\66";
}
.icon-linkedin:before {
  content: "\6b";
}
.icon-medium:before {
  content: "\6f";
}
.icon-quora:before {
  content: "\6e";
}
.icon-search:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\69";
}
.icon-vk:before {
  content: "\6c";
}
.icon-youtube:before {
  content: "\6a";
}
.icon-up:before {
  content: "\63";
}
.icon-github:before {
  content: "\6d";
}
.icon-down:before {
  content: "\64";
}
.icon-spotify:before {
  content: "\70";
}
