/* ========================================================================== */
/* FONTS
/* This file contains all @font-face declarations, if any.
/* ========================================================================== */

@font-face {
  font-family: "zenwriter";
  src:url("assets/fonts/zenwriter-icons.eot");
  src:url("assets/fonts/zenwriter-icons.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/zenwriter-icons.woff") format("woff"),
    url("assets/fonts/zenwriter-icons.ttf") format("truetype"),
    url("assets/fonts/zenwriter-icons.svg#zenwriter") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  bottom: -.1em;
  font-family: "zenwriter" !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  position: relative;
  speak: none;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  content: attr(data-icon);
}

.icon-facebook:before {
  content: "\61";
}

.icon-instagram:before {
  content: "\63";
}

.icon-linkedin:before {
  content: "\66";
}

.icon-medium:before {
  content: "\68";
}

.icon-quora:before {
  content: "\67";
}

.icon-twitter:before {
  content: "\64";
}

.icon-vk:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\65";
}

.icon-github:before {
  content: "\69";
}

.icon-spotify:before {
  content: "\6a";
}