/* ========================================================================== */
/* TYPOGRAPHY
/* This file contains typography styles.
/* ========================================================================== */

body {
  font-family: $font-family-copy;
  font-weight: $font-weight-copy;
  font-size: $font-size-copy;
  line-height: $font-height-copy;

  @include respond-to("small") {
    font-size: #{$font-size-copy * $scale-large};
    line-height: #{$font-height-copy  * $scale-large};
  }
}

/* -------------------------------------------------------------------------- */
/* Titles
/* -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.post__title,
.title-x-large,
.title-large,
.title-medium,
.title-small,
.title-x-small {
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  letter-spacing: -.025em;
  line-height: $font-height-title;
  margin-bottom: $font-size-copy;
  
  @include respond-to('small') {
    margin-bottom: #{$font-size-copy * $scale-large};
  }
}
h1,
.title-x-large {
  font-size: 2.4em;
  @include respond-to("small") {
    font-size: 3.4em;
  }
}
h2,
.title-large {
  font-size: 1.8em;
  @include respond-to("small") {
    font-size: 2.4em;
  }
}
h3,
.title-medium {
  font-size: 1.5em;
  @include respond-to("small") {
    font-size: 1.6em;
  }
}
h4,
.title-small {
  font-size: 1.2em;
}
h5,
.title-x-small {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}