/* ========================================================================== */
/* MIXINS
/* This file contains all application-wide Sass mixins.
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* Mixin for media queries
/* -------------------------------------------------------------------------- */
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. "
    +"Please make sure `#{$name}` is defined in `$breakpoints` map.";
  }
}

/* -------------------------------------------------------------------------- */
/* Mixin for clear fix
/* -------------------------------------------------------------------------- */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* -------------------------------------------------------------------------- */
/* Mixin for buttons
/* -------------------------------------------------------------------------- */
@mixin button-shape {
  align-items: center;
  border: 0;
  border-radius: 999px;
  color: $color-foreground-3;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: $font-family-interaction;
  font-weight: $font-weight-title;
  justify-content: center;
  line-height: 1;
  padding: .6em 1.2em;
  transition-duration: $speed-fast;


  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-size: 0.8em;
  }

  .icon {
    &-down,
    &-left,
    &-right,
    &-up {
      font-size: inherit;
    }
  }
}