/* ========================================================================== */
/* ARCHIVE HEADER
/* ========================================================================== */

.archive-header {
  background-color: $color-background-max;
  border-bottom: $width-x-small solid $color-foreground-4;
  padding: #{$space-medium * 2} 0;

  @include respond-to('small') {
    padding: #{($space-medium + $space-small) * 2} 0;
  }

  .button {
    margin-top: #{$font-size-copy * $scale-large};

    @include respond-to('small') {
      margin-top: #{$font-size-copy * $scale-large * $scale-large};
    }
  }

  &__description {
    font-size: #{$font-size-copy * $scale-large};
  }

  &__search-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: #{$font-size-copy * $scale-large};
    justify-content: stretch;

    @include respond-to('small') {
      margin-top: #{$font-size-copy * $scale-large * $scale-large};
    }

    .button {
      flex-grow: 1;
      margin-top: 0;
      margin-left: 1em;
    }

    .search-field {
      flex-grow: 3;
    }
  }

  &__title {
    &--author {
      padding-bottom: .15em;
    }
  }
}