/* ========================================================================== */
/* BUTTONS
/* ========================================================================== */

.button {
  @include button-shape;

  background-color: $color-background-2;

  &:active,
  &:hover {
    background-color: $color-brand-primary;
    color: $color-foreground-max;
  }
  
  &--icon {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 2em;
    line-height: 1;
    padding: 0;
    width: 2em;
  }

  &--important {
    background-color: $color-brand-primary;
    color: $color-foreground-1;

    &:active,
    &:hover {
      background-color: $color-brand-darken;
      color: $color-foreground-max;
    }
  }

  &--justified {
    text-align: center;
    width: 100%;
  }

  &--x-small {
    font-size: #{$scale-x-small}em;
  }

  &--small {
    font-size: #{$scale-small}em;
  }

  &--large {
    font-size: #{$scale-large}em;
  }

  &--x-large {
    font-size: #{$scale-x-large}em;
  }

  &--darker {
    background-color: $color-background-3;
    color: $color-foreground-2;
  }
}