.icon {
  &-down,
  &-left,
  &-right,
  &-up {
    display: inline-block;
    height: 1em;
    line-height: 1;
    margin: 0 .25em;
    position: relative;
    width: 1em;
  
    &::before,
    &::after {
      background-color: $color-foreground-2;
      content: "";
      display: inline-block;
      height: $width-small;
      position: absolute;
    }
  }

  &-left,
  &-right {
    width: .5em;

    &::after,
    &::before {
      right: 0;
      width: 100%;
    }
    &::after {
      bottom: calc(25% + #{$width-small/2});
    }
    &::before {
      top: calc(25% + #{$width-small/2});
    }
  }

  &-left {
    &::after {
      transform: rotate(45deg);
    }
    
    &::before {
      transform: rotate(-45deg);
    }
  }

  &-right {
    &::after {
      transform: rotate(-45deg);
    }
    
    &::before {
      transform: rotate(45deg);
    }
  }


  &-down,
  &-up {
    width: 1em;

    &::after,
    &::before {
      top: 50%;
      width: 50%;
    }
    &::after {
      right: 12.5%;
    }
    &::before {
      left: 12.5%;
    }
  }

  &-down {
    &::after {
      transform: rotate(-45deg);
    }
    
    &::before {
      transform: rotate(45deg);
    }
  }

  &-up {
    &::after {
      transform: rotate(45deg);
    }
    
    &::before {
      transform: rotate(-45deg);
    }
  }
}