/* ========================================================================== */
/* ICON
/* ========================================================================== */

.icon {
  &-down,
  &-left,
  &-link,
  &-right,
  &-search,
  &-up {
    display: inline-block;
    height: 1em;
    line-height: 1;
    margin: 0 .25em;
    position: relative;
    width: 1em;
  
    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
    }
  }

  &-down,
  &-left,
  &-right,
  &-up {
    &::before,
    &::after {
      background-color: $color-foreground-2;
      height: $width-small;
    }
  }

  &-down,
  &-up {
    width: 1em;

    &::after,
    &::before {
      top: 50%;
      width: 50%;
    }
    &::after {
      right: 12.5%;
    }
    &::before {
      left: 12.5%;
    }
  }

  &-left,
  &-right {
    width: .5em;

    &::after,
    &::before {
      right: 0;
      width: 100%;
    }
    &::after {
      bottom: calc(25% + #{$width-small/2});
    }
    &::before {
      top: calc(25% + #{$width-small/2});
    }
  }

  &-link,
  &-search {
    &::before,
    &::after {
      border-color: $color-foreground-2;
    }
  }

  &-down {
    &::after {
      transform: rotate(-45deg);
    }
    
    &::before {
      transform: rotate(45deg);
    }
  }

  &-left {
    &::after {
      transform: rotate(45deg);
    }
    
    &::before {
      transform: rotate(-45deg);
    }
  }

  &-link {
    &::after,
    &::before {
      background-color: transparent;
      border-style: solid;
      border-width: $width-small;
      height: 55%;
      width: 55%;
    }

    &::after {
      bottom: .125em;
      left: .125em;
    }

    &::before {
      right: .125em;
      top: .125em;
    }
  }

  &-right {
    &::after {
      transform: rotate(-45deg);
    }
    
    &::before {
      transform: rotate(45deg);
    }
  }

  &-search {
    &::after {
      background-color: $color-foreground-2;
      bottom: .25em;
      height: $width-small;
      right: .125em;
      width: 40%;
      transform: rotate(45deg);
    }
    &::before {
      background-color: transparent;
      border: $width-small solid $color-foreground-2;
      border-radius: 999px; 
      height: 60%;
      left: .125em;
      top: .125em;
      width: 60%;
    }
  }

  &-up {
    &::after {
      transform: rotate(45deg);
    }
    
    &::before {
      transform: rotate(-45deg);
    }
  }
}