/* ========================================================================== */
/* PAGINATION
/* ========================================================================== */

.pagination {
  background-color: $color-background-2;
  border-top: $width-x-small solid $color-foreground-4;

  &__item {
    display: none;
    font-family: $font-family-interaction;

    &:first-child,
    &:last-child {
      display: inline-block;
    }

    &--active {
      a {
        border-color: $color-brand-lighten;
      }
    }

    @include respond-to('small') {
      display: inline-block;
    }
  }

  &__items {
    align-items: center;
    border: $width-small solid $color-background-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: #{($space-medium + $space-small) / 4} 0;
  }
}