/* ========================================================================== */
/* TAGS
/* ========================================================================== */

.post-tags {
  color: $color-foreground-3;
  font-family: $font-family-interaction;
  font-size: #{$font-size-copy * $scale-small};
  opacity: .75;
  transition-duration: $speed-fast;
  
  @include respond-to('small') {
    font-size: $font-size-copy;
  }

  @include respond-to('large') {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &__item {
    display: inline-block;
    margin: 0 0.5rem;
  }

  &__list {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  &__title {
    display: inline-block;
    font-size: #{$font-size-copy * $scale-small};
    font-weight: $font-weight-title;
    margin: 0;
    
    @include respond-to('small') {
      font-size: $font-size-copy;
    }
  }
}