/* ========================================================================== */
/* POST NAVIGATION
/* ========================================================================== */

.post-navigation {
  background-color: $color-background-2;
  border-top: $width-x-small solid $color-background-3;

  &__item {
    width: calc(50% - #{$space-small/2});
    
    &--empty {
      visibility: hidden;
    }

    &:last-child {
      text-align: right;
    }
    
    &-label {
      font-family: $font-family-interaction;
      font-size: #{$font-size-copy * $scale-small};
      font-weight: $font-weight-copy;
      margin-bottom: $space-x-small;
      
      @include respond-to('small') {
        font-size: $font-size-copy;
      }
    }

    &-title {
      font-family: $font-family-title;
      font-weight: $font-weight-title;
      margin-bottom: $space-x-small;
      overflow: hidden;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-small 0;
  }
}