/* ========================================================================== */
/* POST
/* ========================================================================== */

.post {
  &--full {
    padding-top: #{$space-medium * 2};

    @include respond-to('small') {
      padding-top: #{($space-medium + $space-small) * 2};
    }

    .post-author {
      margin-top: $space-medium;
      margin-bottom: #{$space-medium * 2};
      
      @include respond-to('small') {
        margin-top: $space-large;
        margin-bottom: #{($space-medium + $space-small) * 2};
      }
    }

    .post__media {
      @include respond-to('large') {
        width: 120%;
        transform: translateX(-10%);
      }
    }

    .post__media--video {
      @include respond-to('large') {
        padding-top: 67.5%;
      }
    }
  }
  
  &--brief {
    filter: grayscale(1);
    opacity: .25;
    padding: $space-medium 0;
    transition-duration: $speed-medium;

    &:first-child {
      padding-top: #{$space-medium * 2};
    }
  
    &:last-child {
      padding-bottom: #{$space-medium * 2};
    }
    
    &:hover {
      transition-duration: $speed-fast;
    }
    
    &:hover,
    &.focus {
      filter: grayscale(0);
      opacity: 1;
    }

    @include respond-to('small') {
      padding: #{$space-medium + $space-small} 0;
  
      &:first-child {
        padding-top: #{($space-medium + $space-small) * 2};
      }
  
      &:last-child {
        padding-bottom: #{($space-medium + $space-small) * 2};
      }
    }

    .post__read-more {
      margin-top: #{$font-size-copy * $scale-small};
      
      @include respond-to('small') {
        margin-top: $font-size-copy;
      }
    }

    .post__content {
      margin: #{$font-size-copy} 0;
      padding: #{$font-size-copy} 0;
      
      @include respond-to('small') {
        margin: #{$font-size-copy * $scale-large} 0;
        padding: #{$font-size-copy * $scale-large} 0;
      }
    }
  }

  &--page {
    padding: #{$space-medium * 2} 0;

    @include respond-to('small') {
      padding: #{($space-medium + $space-small) * 2} 0;
    }
  }

  &--sticky {
    background-color: $color-background-max;
    padding-bottom: #{$space-medium * 2};

    @include respond-to('small') {
      padding-bottom: #{($space-medium + $space-small) * 2};
    }
  }

  &--sticky+&--brief {
    padding-top: #{$space-medium * 2};

    @include respond-to('small') {
      padding-top: #{($space-medium + $space-small) * 2};
    }
  }

  &__featured-image {
    margin-bottom: #{2 * $font-size-copy};

    img {
      height: auto;
      width: 100%;
    }
  }
  
  &__content {
    border: $width-x-small solid $color-foreground-4;
    border-left: 0;
    border-right: 0;
    margin: #{$font-size-copy} 0;
    padding: #{$font-size-copy * 2} 0;

    @include content;
    @include clearfix;
    
    @include respond-to('small') {
      margin: #{$font-size-copy * $scale-large} 0;
      padding: #{$font-size-copy * $scale-large * 2} 0;
    }

    .gallery {
      margin-bottom: $font-size-copy !important;

      .gallery-caption {
        font-size: #{$font-size-copy * $scale-x-small};
        line-height: $scale-large;
      }
    }

    .has-text-color * {
      color: inherit !important;
    }

    .post__quote {
      footer {
        &::before {
          content: none;
        }
      }
    
      p {
        color: $color-foreground-1;
        font-size: #{$font-size-copy * $scale-x-large};

        @include respond-to('small') {
          font-size: #{$font-size-copy * $scale-x-large * $scale-x-large};
        }
      }
    }

    .post-password-form {
      input {
        background-color: $color-foreground-4;
        margin-bottom: $width-large;
      }
    }

    .wp-block-cover {
      margin-bottom: #{$font-size-copy * $scale-small};

      @include respond-to('small') {
        margin-bottom: #{$font-size-copy};
      }
    }

    .wp-block-embed {
      height: auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .wp-embed-aspect-4-3 {
      padding-top: 75%;
    }

    .wp-embed-aspect-16-9 {
      padding-top: 56.25%;
    }

    .wp-block-gallery {
      .blocks-gallery-item {
        overflow: hidden;

        figure {
          figcaption {
            line-height: $scale-large;
          }

          img {
            margin: 0;
          }
        }
      }
    }

    .wp-block-pullquote {
      blockquote {
        border: 0;
      }
    }
  }

  &__media {
    margin-bottom: $font-size-copy;
  
    &--audio {
      img {
        display: block;
      }
    }

    &--video {
      padding-top: 56.25%;
      position: relative;
      width: 100%;
    }

    @include respond-to('small') {
      margin-bottom: #{$font-size-copy * $scale-large};
    }

    img {
      border: 0;
      height: auto;
      width: 100%;
    }

    iframe {
      border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
  }

  &__title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
}