/* ========================================================================== */
/* SCROLL TO TOP
/* ========================================================================== */

.scroll-to-top {
  bottom: #{($space-medium + $space-small) / 4};
  height: #{($space-medium + $space-small) / 2};
  opacity: 0;
  position: fixed;
  right: calc(((100vw - 76.8rem)/2) + #{$space-small});
  width: #{($space-medium + $space-small) / 2};
  z-index: 500;

  &.focus {
    opacity: 1;
  }
}