/* ========================================================================== */
/* GRID
/* ========================================================================== */

.grid-container {
  padding: 0 $space-small;
  margin: 0 auto;
  max-width: 76.8rem;
}