/* ========================================================================== */
/* GRID
/* ========================================================================== */

.admin-bar {
  @media(max-width: 782px) {
    #wpadminbar {
      display: none;
    }
  }
  
  .header {    
    @media(min-width: 783px) {
      top: 32px;
    }
  }
}

.grid-container {
  padding: 0 $space-small;
  margin: 0 auto;
  max-width: 76.8rem;
}

.main {
  min-height: 100%;
}