/* ========================================================================== */
/* HEADER
/* ========================================================================== */

.header {
  background-color: $color-background-max;
  border-bottom: $width-x-small solid $color-background-3;
  box-shadow: $shadow-small;
  left: 0;
  position: fixed;
  transition-property: opacity;
  transition-duration: $speed-x-fast;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  
  &.focus {
    transition-duration: #{5*$speed-x-slow};
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  &__content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: calc(#{$space-medium} + #{$space-small});
    padding-bottom: calc((#{$space-medium} + #{$space-small}) / 4);
    padding-top: calc((#{$space-medium} + #{$space-small}) / 4);
    position: relative;
  }

  &__logo {
    height: calc((#{$space-medium} + #{$space-small}) / 2);
    width: auto;
  }
  
  &__brand {
    font-family: $font-family-title;
    font-size: 0;
    font-weight: $font-weight-title;
    margin: 0;
    max-width: 50%;
    
    &-link {
      border: none;
      display: inline-block;
    }
  }
  
  &__title {
    display: inline-block;
    font-size: calc((#{$space-medium} + #{$space-small}) / 2);
    height: calc((#{$space-medium} + #{$space-small}) / 2);
    line-height: calc((#{$space-medium} + #{$space-small}) / 2);

    &--long {
      font-size: calc((#{$space-medium} + #{$space-small}) / 4);
    }
  }
}