/* ========================================================================== */
/* 404
/* ========================================================================== */

.e404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - #{$space-medium} - #{$space-small});

  .button {
    margin-top: $font-size-copy;

    @include respond-to('small') {
      margin-top: #{$font-size-copy * $scale-large};
    }
  }
}