/* ========================================================================== */
/* HOME
/* ========================================================================== */

.front-page {
  .post {
    &__content {
      font-size: #{$font-size-copy * $scale-small};
    }

    @include respond-to ('small') {
      font-size: $font-size-copy;
    }
  }

  .post-meta,
  .post-tags {
    font-size: #{$font-size-copy * $scale-small * $scale-small};

    @include respond-to ('small') {
      font-size: #{$font-size-copy * $scale-small};
    }
  }

  .post-tags {
    &__title {
      font-size: #{$font-size-copy * $scale-small * $scale-small};

      @include respond-to ('small') {
        font-size: #{$font-size-copy * $scale-small};
      }
    }
  }
}

.latest-posts {
  padding: #{$space-medium * 2} 0;

  @include respond-to('small') {
    padding: #{($space-medium + $space-small) * 2} 0;
  }
}